<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Bootの基礎を学ぼう</title>
</head>

<body>
    <h2>商品登録フォーム</h2>
    <form th:action="@{/register}" method="post" th:object="${productRegisterForm}">
        <label for="productName">商品名：</label>
        <input type="text" th:field="*{productName}"><br>
        <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" style="color: red;"></div>

        <label for="price">価格　：</label>
        <input type="number" th:field="*{price}"><br>
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red;"></div>

        <label for="stock">在庫数：</label>
        <input type="number" th:field="*{stock}">
        <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" style="color: red;"></div>

        <div><button type="submit">登録</button></div>

        <!-- メッセージがあれば表示 -->
        <div th:if="${message}" style="color: green;">
            <p th:text="${message}"></p>
        </div>
    </form>
</body>

</html>